body {
    background-image:linear-gradient(#fae62d, #f7b44f, #f25e8a);
}

.navbar {
    height: 70px;
}

.footer {
    background-color: black;
    display: flex;
    align-items: baseline;
    margin-top: 40%;
    height: 50px;
}

.a-card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 5px 10px #888888;
    height: 375px;
    margin-bottom: 10px !important;
}

.artists {
    margin: 50px 0 50px 0;
    overflow-x: auto;
}

.row{
    flex-wrap: nowrap;
}

.card-img-top {
    height: 266px;
    width: 266px;
}

.a-card-body {
    margin-left: 50px;
}